extends layout

block content
  form#edit_form(method='post')
    div.input-field
      i.small.mdi-social-person.prefix
      input(type='text' name='edit_username' value='#{user.username}')  
    div.input-field
      i.small.mdi-social-school.prefix
      input(type='text' name='edit_school' value='#{user.school}')
    div.input-field
      i.small.mdi-image-looks-one.prefix
      input(type='text' name='edit_studentClass' value='#{user.studentClass}')
    div.input-field
      i.small.mdi-action-face-unlock.prefix
      input(type='text' name='edit_studentID' value='#{user.studentID}')
    div.input-field
      i.small.mdi-hardware-phone-android.prefix
      input#edit_phone_number(disabled='true' type='text' name='edit_phone_number' value='#{user.phoneNumber} (已绑定, 无法修改)')
    
    div.row#edit_btns
      div.col.s6
        button(type='submit')#edit_btn.btn-large.waves-effect.waves-light 保存
      div.col.s6
        a(href='/').go_back.btn-large.waves-effect.waves-light 返回
