doctype html
html
  head
    title QRCODEX | #{title}
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel='stylesheet', href='/lib/materialize/css/materialize.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .navbar-fixed
      nav.teal.ligthen-5
        .nav-wrapper
          .col.s12
            .left.side-nav
              a.left.side-nav.button-collapse#paperCollapse(data-activates='paperNav')
                i.small.mdi-action-list
              ul.side-nav.full.grey.darken-3#paperNav
                - if (paper)
                  - each type in paper.questions
                    li
                      a(href='##{type.name}' data-name='#{type.name}')
                        - if (type.name=='listening')
                          p.showing #{type.title}
                        - else
                          p #{type.title}
                - else if(user)
                  li
                    a(href='/')
                      p 返回首页
                - else
                  li
                    a(href='!#') 
                      p 加载中...

            span#layout_title #{title}
            - if (user)
              a.right.side-nav.button-collapse.userCollapse(data-activates='userInfo')
                i.small.mdi-action-perm-identity
              ul.side-nav.full.grey.darken-3#userInfo
                li
                  i.small.mdi-social-person
                  a #{user.username}
                li
                  i.small.mdi-notification-folder-special
                  a(href='/myFav')#userFav 我的收藏
                li
                  i.small.mdi-action-info
                  a(href='/myReview')#aboutUs 我的点评
                li
                  i.small.mdi-action-exit-to-app
                  a(href='/logout')#logout 退出登陆
            - else
              a.right.side-nav.button-collapse.userCollapse(data-activates='userSignup')
                i.small.mdi-action-perm-identity
              ul.side-nav.full.grey.darken-3#userSignup
                form#signin_form(method='post' action='/signin')
                  div.input-field
                    i.small.mdi-social-person.prefix
                    input(type='text' name='signin_username' placeholder='用户名')
                  div.input-field
                    i.small.mdi-action-lock.prefix
                    input(type='text' name='signin_password' placeholder='密码(初始为学号)')
                  div#signin_btn
                    button(type='submit')#signin_btn.btn.waves-effect.waves-light 登陆

            
    div.flash_tips
      - if(success)
        div.flash_tips_success #{success}
      - if(error)
        div.flash_tips_error #{error}
  
    #content
      block content
    script(src="/lib/jQuery-2.1.3.js")
    script(src="/lib/materialize/js/materialize.min.js")
    script(src="/javascripts/build.js")